body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    position: relative;
    background-color: #ffffff;
    color: #fff;
    padding: 0px;
}

nav {
    position: absolute;
    top: 7%;
    left: 33%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 45px;
}
#wrist{
    font-size: 32px;
    left: 25%;
    color: #ffffff;
    font-family: 'Righteous', sans-serif;
}
nav li {
    display: inline-block;
    margin-right: 90px;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: #DAD5D5;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

nav a:hover {
    color: #000000; /* Change the color on hover */
    font-weight: 600;
    text-shadow: 
        -1px -1px 0 #ffffff, /* Top-left shadow */
        1px -1px 0 #ffffff,  /* Top-right shadow */
        -1px 1px 0 #ffffff,  /* Bottom-left shadow */
        1px 1px 0 #ffffff;   /* Bottom-right shadow */

}

.image-main-container {
    position: relative;
    text-align: center;
}

.image-main-container img {
    max-width: 100%;
    height: 800px;
    display: block;
}
.caption{
    z-index: 999;
    color: #DAD5D5;
    margin: 0 auto;
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    /*background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
    padding: 20px;
    box-sizing: border-box;
}
.caption-p{
    z-index: 999;
    color: #DAD5D5;
    margin: 0 auto;
    background-color: transparent;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
.btn-explore {
    font-size: 20px;
    font-weight: 600;
    background-color: #DAD5D5;
    color: #000000;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin-top: 40px;
    padding: 20px 50px;
    font-family: 'Montserrat', sans-serif;
}
.btn-explore:hover{
    background-color: #000000;
    font-weight: 700;
    color: #DAD5D5;
    border-color: #DAD5D5;
    border: 2px solid;
}