body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    position: relative;
    background-color: #ffffff;
    color: #fff;
    padding: 0px;
}

nav {
    position: absolute;
    top: 7%;
    left: 33%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 45px;
}
#wrist{
    font-size: 32px;
    left: 25%;
    color: #ffffff;
    font-family: 'Righteous', sans-serif;
}
nav li {
    display: inline-block;
    margin-right: 90px;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: #DAD5D5;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

nav a:hover {
    color: #000000; /* Change the color on hover */
    font-weight: 600;
    text-shadow: 
        -1px -1px 0 #ffffff, /* Top-left shadow */
        1px -1px 0 #ffffff,  /* Top-right shadow */
        -1px 1px 0 #ffffff,  /* Bottom-left shadow */
        1px 1px 0 #ffffff;   /* Bottom-right shadow */

}

.image-main-container {
    position: relative;
    text-align: center;
}

.image-main-container img {
    max-width: 100%;
    height: 800px;
    display: block;
}
.caption{
    z-index: 999;
    color: #DAD5D5;
    margin: 0 auto;
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    /*background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
    padding: 20px;
    box-sizing: border-box;
}
.caption-p{
    z-index: 999;
    color: #DAD5D5;
    margin: 0 auto;
    background-color: transparent;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
.btn-explore {
    font-size: 20px;
    font-weight: 600;
    background-color: #DAD5D5;
    color: #000000;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin-top: 40px;
    padding: 20px 50px;
    font-family: 'Montserrat', sans-serif;
}
.btn-explore:hover{
    background-color: #000000;
    font-weight: 700;
    color: #DAD5D5;
    border-color: #DAD5D5;
    border: 2px solid;
}
#discover{
    height: 750px;
    background-color: #ffffff;
    text-align: center;
}
.h1-discover{
    font-family: 'Poppins', sans-serif;
    color: #000000;
    padding: 40px;
}
.watch-container-discover{
    display: flex;
    justify-content: center;
    gap: 160px;
}
.watch-container-1{
    height: 400px;
    width: 240px;
    top: 10%;
}
.image-container-1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 300px;
    top: 10%;
    border: 1px solid #eee; /* Set the frame color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 25px; /* Set the frame border-radius */
    /*box-shadow: -1px -1px 0 #000000, /* Top-left shadow */
       
}
/* Style for the image inside the container */
.image-container-1 img {
    display: block;
    width: 100%; /* Make the image fill the container */
    height: auto;
    padding-top: 10px;
}
.patek-name-1{
    width: 100%;
    height: 100%;
    display: flex;
    top: 0%;
    left: 0%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: 0.3s;
}
.patek-name-1:hover{
    opacity: 1;
    cursor: pointer;
}
.patek-name-1 h1{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.patek-name-1 p{
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.patek-name-1 > *{
    transform: translateY(25px);
    transition: transform 0.3s;
}
.patek-name-1:hover > *{
    transform: translateY(0px);
}
.btn-container-1 {
    margin-top: 45px;
  }
  /* Style for the buttons */
.btn-buy-now-1 {
    font-size: 15px;
    font-weight: 600;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    margin-top: 40px;
    padding: 20px 50px;
    font-family: 'Montserrat', sans-serif;
}
.btn-buy-now-1:hover{
    background-color: #ffffff;
    font-weight: 700;
    color: #000000;
    border-color: #000000;
    border: 2px solid;
}
.watch-container-2{
    height: 400px;
    width: 240px;
    top: 10%;
}
.image-container-2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 300px;
    top: 10%;
    border: 1px solid #eee; /* Set the frame color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 25px; /* Set the frame border-radius */
    /*box-shadow: -1px -1px 0 #000000, /* Top-left shadow */
            
}
/* Style for the image inside the container */
.image-container-2 img {
    display: block;
    width: 100%; /* Make the image fill the container */
    height: auto;
    padding-top: 10px;
}
.patek-name-2{
    width: 100%;
    height: 100%;
    display: flex;
    top: 0%;
    left: 0%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: 0.3s;
}
.patek-name-2:hover{
    opacity: 1;
    cursor: pointer;
}
.patek-name-2 h1{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.patek-name-2 p{
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.patek-name-2 > *{
    transform: translateY(25px);
    transition: transform 0.3s;
}
.patek-name-2:hover > *{
    transform: translateY(0px);
}
.btn-container-2 {
    margin-top: 45px;
}
.btn-buy-now-2 {
    font-size: 15px;
    font-weight: 600;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    margin-top: 40px;
    padding: 20px 50px;
    font-family: 'Montserrat', sans-serif;
}
.btn-buy-now-2:hover{
    background-color: #ffffff;
    font-weight: 700;
    color: #000000;
    border-color: #000000;
    border: 2px solid;
}
.watch-container-3{
    height: 400px;
    width: 240px;
    top: 10%;
}
.image-container-3 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 300px;
    top: 10%;
    border: 1px solid #eee; /* Set the frame color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 25px; /* Set the frame border-radius */
    /*box-shadow: -1px -1px 0 #000000, /* Top-left shadow */

}
/* Style for the image inside the container */
.image-container-3 img {
    display: block;
    width: 100%; /* Make the image fill the container */
    height: auto;
    padding-top: 10px;
}
.patek-name-3{
    width: 100%;
    height: 100%;
    display: flex;
    top: 0%;
    left: 0%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: 0.3s;
}
.patek-name-3:hover{
    opacity: 1;
    cursor: pointer;
}
.patek-name-3 h1{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.patek-name-3 p{
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.patek-name-3 > *{
    transform: translateY(25px);
    transition: transform 0.3s;
}
.patek-name-3:hover > *{
    transform: translateY(0px);
}
.btn-container-3 {
    margin-top: 45px;
}
.btn-buy-now-3 {
    font-size: 15px;
    font-weight: 600;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    margin-top: 40px;
    padding: 20px 50px;
    font-family: 'Montserrat', sans-serif;
}
.btn-buy-now-3:hover{
    background-color: #ffffff;
    font-weight: 700;
    color: #000000;
    border-color: #000000;
    border: 2px solid;
}
#about{
    height: 900px;
    background-color: #000000;
    text-align: center;
}
.gif{
    width: 100%;
    height: 300px;
}
.h1-about{
    font-family: 'Poppins', sans-serif;
    color: #DAD5D5;
    padding: 40px;
}
.p-about{
    color: #DAD5D5;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
}
#contact{
    height: 450px;
    display: flex;
    /*background: url('back-gif.gif') no-repeat;
    background-size: cover;*/
}
.contact-container{
    width: 50%;
    background-color: rgb(255, 255, 255);
    height: 450px;
    border-right: 2px solid #000;
    
}
.h1-contact{
    font-family: 'Poppins', sans-serif;
    color: #000000;
    padding: 30px 40px 30px;
    padding-top: 30px;
    margin: 0%;
    text-align: center;
}
.phone-container{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 20px;
    /*max-width: 100%;*/
    
}
.icon-phone{
    height: 3em;
    width: 3em;
    float: left;
}
.p-number{
    color: #000000;
    font-size: 20px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
}
.mail-container{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 20px;
    /*max-width: 100%;*/
    
}
.icon-mail{
    height: 3em;
    width: 3em;
    float: left;
    margin-left: 23px;
}
.p-mail{
    color: #000000;
    font-size: 20px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.insta-container{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 20px;
    /*max-width: 100%;*/
    
}
.icon-insta{
    height: 3em;
    width: 3em;
    float: left;
    margin-left: -24px;
}
.p-insta{
    color: #000000;
    font-size: 20px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.fb-container{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 20px;
    /*max-width: 100%;*/
    
}
.icon-fb{
    height: 3em;
    width: 3em;
    float: left;
    margin-left: -18px;
}
.p-fb{
    color: #000000;
    font-size: 20px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.connect-container{
    width: 50%;
    background-color: rgb(255, 255, 255);
    height: 450px;
}
.h1-connect{
    font-family: 'Poppins', sans-serif;
    color: #000000;
    padding: 30px 40px 30px;
    padding-top: 30px;
    margin: 0%;
    text-align: center;
}
.login-container{
    display: flex;
    justify-content: center; /* Center along the horizontal axis */
    align-items: center;
    margin-top: 0px;
}
.login-box {
    width: 300px;
    height: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-box input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border-radius: 35px;
    padding-left: 30px;
    background-color: transparent;
    color: #000000;
}
.login-box button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-radius: 35px;
}
.login-box button:hover {
    background-color:transparent;
    color: #000000;
    border-color: #000000;
    border: 2px solid;
    font-weight: 600;
    
}
.copyright{
    height: 20px;
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin: 0%;
    padding-top: 10px;
    text-align: center;
}
.copyright p{
    margin: 0%;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* This hides the horizontal scrollbar */
}


@media screen and (max-width:600px) {
    nav {
        position: absolute;
        top: 7%;
        left: 33%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #wrist{
        font-size: 32px;
        left: 25%;
        color: #ffffff;
        font-family: 'Righteous', sans-serif;
    }
    nav li {
        display: inline-block;
        margin-right: 90px;
    }
    
    nav a {
        font-size: 20px;
        text-decoration: none;
        color: #DAD5D5;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }
    
    nav a:hover {
        color: #000000; /* Change the color on hover */
        font-weight: 600;
        text-shadow: 
            -1px -1px 0 #ffffff, /* Top-left shadow */
            1px -1px 0 #ffffff,  /* Top-right shadow */
            -1px 1px 0 #ffffff,  /* Bottom-left shadow */
            1px 1px 0 #ffffff;   /* Bottom-right shadow */
    
    }
    
}